html {
  height:100%;
}

body {
  height:100%;
}

#view {
  position:relative;
  width:90%;
  height:70%;
  border: 1px solid gray;
  padding:10px;
  border-radius:20px;
  margin:auto;
  overflow:hidden;
  white-space:nowrap;
}

.letter {
  display:inline-block;
  vertical-align:top;

  border-width: 0.15em;
  border-color: tan;
  border-style: solid;
  border-radius:0.3em;
  margin-left:0.25em;
  margin-right:0.25em;

  text-transform:uppercase;
  text-align:center;
  color: saddlebrown;
}
.letter.size-3 {
  font-size:1em;
  line-height:1em;
  height:1em;
  width:1em;
  padding:0.75em;
}
.letter.size-2 {
  font-size:0.8em;
  line-height:0.8em;
  height:0.8em;
  width:0.8em;
  padding:0.5em;
}
.letter.size-1 {
  font-size:0.6em;
  line-height:0.6em;
  height:0.8em;
  width:0.8em;
  padding:0.4em;
}


.line {
  margin:auto;
  margin-top:0.25em;
  margin-bottom:0.25em;
}

.empty {
  border-color:wheat;
}


.active {
  background-color:lightgreen;
}

.clickable {
  cursor:pointer;
  background-color:lightblue;
}

#words {
  padding:1em;
}

.word {
  display:inline-block;
  background-color: #c6c6c6;
  padding:0.1em 0.6em 0.1em 0.6em;
  border:0.2em solid #c6c6c6;
  margin-right:0.5em;
  margin-bottom:1em;
  border-radius:0.25em;
  text-transform:lowercase;
  text-align:center;
  cursor:pointer;
}

.selected-word {
  border-color:black;
}

.leftover {
  background-color:pink;
}

.zoom-button {
  display:inline-block;
  position:absolute;
  bottom:-20px;
  left:-20px;
  height:100px;
  width:100px;
  border:none;
  border-radius:50%;
  background-color:gray;
  color:white;
  cursor:pointer;

}
.zoom-button:last-of-type {
  left:unset;
  right:-20px;

}
