.letter {
  display:inline-block;
  vertical-align:top;
  height:1em;
  width:1em;
  border:1px solid black;
  margin-left:0.25em;
  margin-right:0.25em;
  padding:1em;
  text-transform:uppercase;
}

.line {
  margin-top:0.25em;
  margin-bottom:0.25em;
}

.empty {
  visibility: hidden;
  /* background-color:black; */
}