html {
  height:100%;
}

body {
  height:100%;
}

#view {
  width:90%;
  height:70%;
  border: 1px solid gray;
  padding:10px;
  border-radius:20px;
  margin:auto;
  overflow:auto;
}

.letter {
  display:inline-block;
  vertical-align:top;
  height:1em;
  width:1em;
  border-width: 0.15em;
  border-color: tan;
  border-style: solid;
  border-radius:0.3em;
  margin-left:0.25em;
  margin-right:0.25em;
  padding:0.75em;
  text-transform:uppercase;
  text-align:center;
  color: saddlebrown;
}


.line {
  margin:auto;
  margin-top:0.25em;
  margin-bottom:0.25em;
}

.empty {
  border-color:wheat;
}


.active {
  background-color:lightgreen;
}

.clickable {
  cursor:pointer;
  background-color:lightblue;
}

#words {
  padding:1em;
}

.word {
  display:inline-block;
  background-color: #c6c6c6;
  padding:0.1em 0.6em 0.1em 0.6em;
  border:0.2em solid #c6c6c6;
  margin-right:0.5em;
  margin-bottom:1em;
  border-radius:0.25em;
  text-transform:lowercase;
  text-align:center;
  cursor:pointer;
}

.selected-word {
  border-color:black;
}

.leftover {
  background-color:pink;
}