html, body {
  height:100%;
}


#view {
  position:relative;
  width:90%;
  height:50%;
  border: 1px solid gray;
  padding:10px;
  border-radius:20px;
  margin:auto;
  overflow:hidden;
  white-space:nowrap;
}


#root {
  position:absolute;
}

.zoom-button {
  display:inline-block;
  position:absolute;
  bottom:-20px;
  left:-20px;
  height:100px;
  width:100px;
  border:none;
  border-radius:50%;
  background-color:gray;
  color:white;
  cursor:pointer;

}
.zoom-button:last-of-type {
  left:unset;
  right:-20px;

}


.line {
  margin-top:0.25em;
  margin-bottom:0.25em;
}

.letter {
  display:inline-block;
  vertical-align:top;
  border-width: 0.15em;
  border-color: tan;
  border-style: solid;
  border-radius:0.3em;
  margin-left:0.25em;
  margin-right:0.25em;
  text-transform:uppercase;
  text-align:center;
  color: saddlebrown;
}
.letter.size-3 {
  font-size:1em;
  line-height:1em;
  height:1em;
  width:1em;
  padding:0.75em;
}
.letter.size-2 {
  font-size:0.8em;
  line-height:0.8em;
  height:0.8em;
  width:0.8em;
  padding:0.5em;
}
.letter.size-1 {
  font-size:0.6em;
  line-height:0.6em;
  height:0.8em;
  width:0.8em;
  padding:0.4em;
}
.letter.empty {
  border-color:wheat;
}


.letter.wrong {
  background-color:pink;
}
.letter.active {
  background-color:lightgray;
}
.letter.clickable {
  cursor:pointer;
  background-color:wheat;
}



#word-block {
  padding:1em;
  width:80%;
  margin:auto;
  margin-top:1em;
  margin-bottom:1em;
  border-radius:20px;
  border: 1px solid gray;
}
#word-block #hint-text {
  width:70%;
  margin:auto;
  text-align:center;
  font-size:1.2em;
}
#word-block #word-preview {
  width:90%;
  margin:auto;
  padding:1em;
  text-align:center;
  font-size:1.2em;
  text-transform: uppercase;
}
#word-block #word-preview span {
  display:inline-block;
}
#word-block #word-guess {
  width:70%;
  margin:auto;
  text-align:center;
}
#word-block #word-guess input:first-child {
  width:70%;
  text-align: center;
}

.controls {
  text-align: center;
  margin:auto;
}

.button {
  margin:10px;
  border:none;
  border-radius:0.5em;
  padding:0.5em 1em;
  cursor:pointer;
  text-transform: lowercase;
  font-weight: bold;
  background-color:#426ef4;
}



#word-preview {
  margin:1em;
}
.word-preview-letter {
  padding:0.25em;
  margin:0.25em;
}

.hidden {
  visibility:hidden;
}

.visible {
  visibility:visible;
}