html, body {
  height:100%;
}


#view {
  position:relative;
  width:90%;
  height:50%;
  border: 1px solid gray;
  padding:10px;
  border-radius:20px;
  margin:auto;
  overflow:hidden;
  white-space:nowrap;
}


#root {
  position:absolute;
}

.zoom-button {
  display:inline-block;
  position:absolute;
  bottom:-10px;
  left:-10px;
  height:70px;
  width:70px;
  border:none;
  border-radius:50%;
  background-color:gray;
  color:white;
  cursor:pointer;

}
.zoom-button:last-of-type {
  left:unset;
  right:-10px;

}

.letter {
  display:inline-block;
  vertical-align:top;
  border-width: 0.15em;
  border-color: tan;
  border-style: solid;
  border-radius:0.3em;
  margin:0.25em;
  text-transform:uppercase;
  text-align:center;
  color: saddlebrown;
}
.letter.size-4 {
  font-size:1em;
  line-height:1em;
  height:1em;
  width:1em;
  padding:0.75em;
}
.letter.size-3 {
  font-size:0.8em;
  line-height:0.8em;
  height:0.8em;
  width:0.8em;
  padding:0.5em;
}
.letter.size-2 {
  font-size:0.6em;
  line-height:0.6em;
  height:0.8em;
  width:0.8em;
  padding:0.4em;
}
.letter.size-1 {
  font-size:0.4em;
  line-height:0.4em;
  height:0.6em;
  width:0.6em;
  padding:0.4em;
  margin-top:0.1em;
  margin-bottom:0.1em;
}
.letter.empty {
  border-color:#FFEBCD;
}

.letter.wrong {
  background-color:#FFC7C7;
}
.letter.active {
  background-color:lightgray;
}
.letter.clickable {
  cursor:pointer;
  background-color:wheat;
}

#word-block {
  padding:1em;
  width:80%;
  margin:auto;
  margin-top:1em;
  margin-bottom:1em;
  border-radius:20px;
  border: 1px solid gray;
}
#word-block #add-word {
  width:70%;
  margin:auto;
  text-align:center;
}
#word-block #hint-text {
  width:70%;
  margin:auto;
  text-align:center;
  font-size:1.2em;
}
#word-block #word-container {
  margin-top:1em;
}
#word-block #add-hint {
  width:90%;
  margin:auto;
  text-align:center;
}
#word-block #add-hint textarea{
  resize:none;
  width:90%;
  font-size:1em;
}
#word-block #word-preview {
  width:90%;
  margin:auto;
  padding:1em;
  text-align:center;
  font-size:1.2em;
  text-transform: uppercase;
}
#word-block #word-preview span {
  display:inline-block;
}
#word-block #word-guess {
  width:70%;
  margin:auto;
  text-align:center;
}
#word-block #word-guess input:first-child {
  width:70%;
  text-align: center;
}

.controls {
  text-align: center;
  margin:auto;
}

.button {
  margin:10px;
  border:none;
  border-radius:0.5em;
  padding:0.5em 1em;
  cursor:pointer;
  text-transform: lowercase;
  font-weight: bold;
  background-color:#426ef4;
}
.button#remove-word {
  background-color:#f72525;
}


#word-preview {
  margin:1em;
}
.word-preview-letter {
  padding:0.25em;
  margin:0.25em;
}

.word {
  display:inline-block;
  background-color: #c6c6c6;
  padding:0.1em 0.6em;
  border:0.2em solid #c6c6c6;
  margin-right:0.5em;
  margin-bottom:1em;
  border-radius:0.25em;
  text-transform:lowercase;
  text-align:center;
  cursor:pointer;
}
.word.has-hint {
  background-color:lightgreen;
  border-color:lightgreen;
}
.word.leftover {
  background-color:#ff5b5b;
  border-color:#ff5b5b;
}
.word.selected-word {
  border-color:black;
}

.hidden {
  visibility:hidden;
}

.visible {
  visibility:visible;
}