html {
  height:100%;
}

body {
  height:100%;
}


#view {
  position:relative;
  width:90%;
  height:50%;
  border: 1px solid gray;
  padding:10px;
  border-radius:20px;
  margin:auto;
  overflow:hidden;
  white-space:nowrap;
}

.zoom-button {
  display:inline-block;
  position:absolute;
  bottom:-20px;
  left:-20px;
  height:100px;
  width:100px;
  border:none;
  border-radius:50%;
  background-color:gray;
  color:white;
  cursor:pointer;

}
.zoom-button:last-of-type {
  left:unset;
  right:-20px;

}


.line {
  margin-top:0.25em;
  margin-bottom:0.25em;
}

.letter {
  display:inline-block;
  vertical-align:top;
  border-width: 0.15em;
  border-color: tan;
  border-style: solid;
  border-radius:0.3em;
  margin-left:0.25em;
  margin-right:0.25em;
  text-transform:uppercase;
  text-align:center;
  color: saddlebrown;
}
.letter.size-3 {
  font-size:1em;
  line-height:1em;
  height:1em;
  width:1em;
  padding:0.75em;
}
.letter.size-2 {
  font-size:0.8em;
  line-height:0.8em;
  height:0.8em;
  width:0.8em;
  padding:0.5em;
}
.letter.size-1 {
  font-size:0.6em;
  line-height:0.6em;
  height:0.8em;
  width:0.8em;
  padding:0.4em;
}
.letter.empty {
  border-color:wheat;
}
.letter.active {
  background-color:lightgreen;
}
.letter.clickable {
  cursor:pointer;
  background-color:lightblue;
}



#word-block {
  padding:1em;
  width:80%;
  margin:auto;
  border-radius:20px;
  border: 1px solid gray;
}
#word-block #add-word {
  width:50%;
  margin:auto;
}
#word-block #word-container {
  margin-top:1em;
}
#word-block #controls {
  text-align: center;
  margin:auto;
}
#word-block #controls button {
  margin-right:20px;
  border:none;
  border-radius:0.5em;
  padding:0.5em 1em;
  cursor:pointer;
  text-transform: lowercase;
  font-weight: bold;
}
#word-block #controls #edit-hint {
  background-color:#426ef4;
}
#word-block #controls #remove-word {
  background-color:#f72525;
}

.word {
  display:inline-block;
  background-color: #c6c6c6;
  padding:0.1em 0.6em;
  border:0.2em solid #c6c6c6;
  margin-right:0.5em;
  margin-bottom:1em;
  border-radius:0.25em;
  text-transform:lowercase;
  text-align:center;
  cursor:pointer;
}
.word.leftover {
  background-color:#ff5b5b;
  border-color:#ff5b5b;
}
.word.selected-word {
  border-color:black;
}

#add-hint {
  background-color:white;
  border:2px solid black;
  width:90%;
  min-width:200px;
  max-width:600px;
  margin:auto;
  margin-top:1em;
  position:relative;
  overflow:hidden;
}
#add-hint #close-hint {
  display:inline-block;
  position:absolute;
  top:-10px;
  right:-10px;
  height:50px;
  width:50px;
  border:none;
  border-radius:50%;
  background-color:#f72525;
  cursor:pointer;
}


.hidden {
  visibility:hidden;
}

.visible {
  visibility:visible;
}